<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Resourcing Demo App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/app.css">
        <link rel="stylesheet" type="text/css" href="css/tree.css">
        <link rel="stylesheet" type="text/css" href="css/rzslider.css">
        
<!--    The hard way ... 
        <script src="/lib/angular/angular.js" />
        <script src="/lib/angular/angular-route.js" />
        <script src="/lib/angular/angular-resource.js" />
        <script src="/src/controllers/forecast-ctrl.js"/>
        <script src="/src/controllers/index-ctrl.js"/>
        <script src="/lib/d3/d3.js"/>
        <script src="/src/controllers/taxonomy-ctrl.js"/>
        <script src="/src/controllers/controllers.js"/>
        <script src="/src/directives/rz-slider-dtv.js"/>
        <script src="/src/directives/directives.js"/>
        <script src="/src/filters/filters.js"/>
        <script src="/src/services/wsClient.js"/>
        <script src="/src/services/services.js"/>
        <script src="/src/config.js"/>
        <script src="/src/app.js"/>-->

    </head>
    <body>
        <div class="col-md-12 navbar navbar-nav navbar-default navbar-fixed-top" ng-controller="IndexCtrl">
            <ul class="nav  nav-pills " style="margin-top: 4px;">
                <li ng-class="items[0]" ng-click="setIndex(0)"><a href="#/taxonomy">Taxonomy </a></li>
                <li ng-class="items[1]" ng-click="setIndex(1)"><a href="#/taxonomy/distribution">Skill Distribution</a></li>
                <li ng-class="items[2]" ng-click="setIndex(2)"><a href="#/taxonomy/deficit">Skill Deficit</a></li>
                <li ng-class="items[3]" ng-click="setIndex(3)"><a href="#/opportunity/forecast">Opportunity Forecast</a></li>
            </ul>
        </div>


        <div class="container">
            <div ng-view></div>
        </div>

        <script data-main="src/main" src="lib/require/require.js"></script>

    </body>
</html>
